@charset "UTF-8";
/* /////////////////////////////////////////// */
/* reset
/* /////////////////////////////////////////// */
/* line 9, ../../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.0;
  font-size: 100%;
}

/* line 17, ../../sass/_reset.scss */
html {
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: scroll !important;
}

/* line 23, ../../sass/_reset.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

/* line 29, ../../sass/_reset.scss */
div,
ol,
ul,
dl {
  margin: 0px;
  padding: 0px;
}

/* line 37, ../../sass/_reset.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd,
a,
span,
form,
fieldset,
legend,
input,
textarea {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: normal;
}

/* line 59, ../../sass/_reset.scss */
table {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  border: none;
}

/* line 66, ../../sass/_reset.scss */
td,
th,
caption,
thead {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: normal;
}

/* line 76, ../../sass/_reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 89, ../../sass/_reset.scss */
ol,
ul,
li {
  list-style: none;
}

/* line 95, ../../sass/_reset.scss */
form label {
  cursor: pointer;
}

/* line 99, ../../sass/_reset.scss */
form button {
  cursor: pointer;
}

/* line 103, ../../sass/_reset.scss */
img {
  border: 0;
  vertical-align: bottom;
}

/* line 108, ../../sass/_reset.scss */
a {
  text-decoration: underline;
}

/* line 112, ../../sass/_reset.scss */
a:link {
  outline: 0;
}

/* line 116, ../../sass/_reset.scss */
a:hover {
  cursor: pointer !important;
  text-decoration: none;
}

/* line 35, ../../sass/_styles.scss */
a,
a:hover,
a:link {
  color: #333;
  line-height: 1.0;
  text-decoration: underline;
}

/* line 43, ../../sass/_styles.scss */
a:hover {
  text-decoration: none;
}

/* line 47, ../../sass/_styles.scss */
#header_nav li a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding-left: 12px;
  color: #666;
  line-height: 1.2;
}

/* #content_area */
/* line 57, ../../sass/_styles.scss */
#content_area {
  border-bottom: 5px solid #66CCCC;
  padding-bottom: 100px;
  background: url(../images/bg_content_01.jpg) no-repeat center bottom;
}

/* #content */
/* line 66, ../../sass/_styles.scss */
#content {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  padding: 25px 0 115px 0;
  background: url(../images/bg_content_01.jpg) no-repeat left bottom;
}

/* #aside */
/* line 80, ../../sass/_styles.scss */
#snavi {
  width: 250px;
  overflow: hidden;
  clear: both;
  padding: 0 0 10px 0;
}

/* line 87, ../../sass/_styles.scss */
#snavi li a {
  display: block;
  width: 250px;
  padding: 8px 0 9px 22px;
  background: url(../images/ico_arrow_01.gif) no-repeat 10px;
  color: #666;
  text-decoration: none;
}

/* line 96, ../../sass/_styles.scss */
#snavi li a:hover,
#snavi li.on a {
  background: url(../images/ico_arrow_02.gif) no-repeat 10px #39BDE8;
  color: #FFF;
}

/* line 102, ../../sass/_styles.scss */
#aside .login {
  width: 250px;
  height: 170px;
  position: relative;
  margin-bottom: 10px;
}

/* line 109, ../../sass/_styles.scss */
#aside .login .btn {
  position: absolute;
  top: 98px;
  left: 12px;
}

/* line 115, ../../sass/_styles.scss */
.aside_facebook {
  width: 250px;
  margin-bottom: 10px;
}

/* line 120, ../../sass/_styles.scss */
.aside_twitter {
  width: 250px;
}

/* line 124, ../../sass/_styles.scss */
.aside_search {
  clear: both;
  padding: 0 0 5px 0;
}

/* line 129, ../../sass/_styles.scss */
.aside_search_tit {
  padding: 0 0 12px 0;
}

/* line 133, ../../sass/_styles.scss */
.aside_search dl {
  clear: both;
  padding: 0 0 8px 0;
}

/* line 138, ../../sass/_styles.scss */
.aside_search dl dt {
  color: #6cc;
  font-weight: bold;
  line-height: 1.3;
}

/* line 144, ../../sass/_styles.scss */
.aside_search dl dd {
  overflow: hidden;
  clear: both;
  border-bottom: #666 1px dotted;
  padding: 0 0 7px 0;
}

/* line 151, ../../sass/_styles.scss */
.aside_search dl.noline dd {
  border: none;
}

/* line 155, ../../sass/_styles.scss */
.aside_search dl dd p {
  float: left;
  padding: 0 10px 0 0;
  white-space: nowrap;
}

/* line 161, ../../sass/_styles.scss */
.aside_search dl dd p a {
  color: #221f1f;
  line-height: 1.85;
}

/* #main */
/* line 169, ../../sass/_styles.scss */
#pnav {
  clear: both;
}

/* line 173, ../../sass/_styles.scss */
#pnav li {
  display: inline;
  color: #666;
}

/* line 178, ../../sass/_styles.scss */
#pnav li a {
  color: #666;
  line-height: 1.2;
}

/* line 183, ../../sass/_styles.scss */
h2.tit01 {
  border-top: #6cc 5px solid;
  padding: 22px 0 20px 0;
  border-bottom: #999 1px solid;
  margin: 0 0 10px 0;
  clear: both;
  overflow: hidden;
}

/* line 192, ../../sass/_styles.scss */
h2.tit01 span {
  padding: 12px 0 0 3px;
  line-height: 1.2;
  display: block;
  float: left;
  font-weight: bold;
}

/* line 200, ../../sass/_styles.scss */
h2.tit01 img {
  float: left;
}

/* line 204, ../../sass/_styles.scss */
h2.tit02 {
  overflow: hidden;
  clear: both;
  border-bottom: 3px solid #66cccc;
}

/* line 210, ../../sass/_styles.scss */
h2.tit02 .catalogdetail_stxt {
  color: #fff;
  text-align: center;
  display: block;
  line-height: 1.55;
  background-color: #66cccc;
  font-weight: bold;
  padding: 3px 17px 0px 17px;
  float: left;
}

/* line 221, ../../sass/_styles.scss */
h2.tit02 .catalogdetail_sbtn {
  display: block;
  float: right;
  padding: 4px 0 0 11px;
}

/* line 227, ../../sass/_styles.scss */
.related_tags {
  width: 660px;
  overflow: hidden;
  clear: both;
}

/* line 233, ../../sass/_styles.scss */
.related_tags .tags_tit {
  font-weight: bold;
  color: #66cccc;
  line-height: 1.5;
  padding: 0 0 4px 0;
}

/* line 240, ../../sass/_styles.scss */
.related_tags ul {
  width: 660px;
  overflow: hidden;
  clear: both;
}

/* line 246, ../../sass/_styles.scss */
.related_tags ul li {
  float: left;
  padding: 0 10px 0 0;
}

/* line 251, ../../sass/_styles.scss */
.related_tags ul li a {
  line-height: 1.6;
}

/* line 255, ../../sass/_styles.scss */
.bottom_links {
  text-align: right;
}

/* line 259, ../../sass/_styles.scss */
.bottom_links a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding: 0 0 0 12px;
  color: #666;
  line-height: 1.2;
}

/* .pagelist */
/* line 269, ../../sass/_styles.scss */
.pagelist {
  text-align: center;
  padding: 20px 0 0 0;
}

/* line 274, ../../sass/_styles.scss */
.pagelist li {
  display: inline;
}

/* line 278, ../../sass/_styles.scss */
.pagelist li a {
  color: #666;
  line-height: 1.2;
}

/* #footer_area */
/* line 286, ../../sass/_styles.scss */
#footer_area {
  width: 100%;
}

/* line 290, ../../sass/_styles.scss */
.pagetop {
  margin: 0 auto;
  position: relative;
  clear: both;
}

/* line 296, ../../sass/_styles.scss */
.pagetop img {
  position: absolute;
  top: -31px;
  right: 30px;
}

/* line 302, ../../sass/_styles.scss */
#footer {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

/* line 309, ../../sass/_styles.scss */
#footer_logo {
  padding: 35px 0 0 0;
}

/* line 313, ../../sass/_styles.scss */
#footer_seo {
  line-height: 1.65;
  padding: 10px 0 10px 0;
}

/* line 318, ../../sass/_styles.scss */
#fnav {
  margin-bottom: 20px;
}

/* line 322, ../../sass/_styles.scss */
#fnav ul {
  padding: 13px 0 0 0;
}

/* line 326, ../../sass/_styles.scss */
#fnav ul li {
  display: inline;
  line-height: 1.5;
  padding-right: 8px;
}

/* line 332, ../../sass/_styles.scss */
#fnav ul li a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding-left: 14px;
}

/* line 337, ../../sass/_styles.scss */
#fnav dl {
  padding: 13px 0 0 0;
}

/* line 341, ../../sass/_styles.scss */
#fnav dl dt {
  display: inline;
  line-height: 1.5;
}

/* line 346, ../../sass/_styles.scss */
#fnav dl dt a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding: 0 5px 0 14px;
}

/* line 351, ../../sass/_styles.scss */
#fnav dl dd {
  display: inline;
  line-height: 1.5;
}

/* line 356, ../../sass/_styles.scss */
#fnav dl dd a {
  padding: 0 4px 0 4px;
}

/* line 360, ../../sass/_styles.scss */
.copyright {
  border-top: 1px solid #999;
  padding: 10px 0 10px 0;
}

/* line 365, ../../sass/_styles.scss */
.copyright p {
  margin: 0 auto;
  text-align: center;
}

/* line 370, ../../sass/_styles.scss */
.container {
  max-width: 970px;
}

@media (min-width: 1200px) {
  /* line 374, ../../sass/_styles.scss */
  #col-main {
    min-width: 690px;
  }
}

@media (min-width: 1200px) {
  /* line 380, ../../sass/_styles.scss */
  #col-side {
    max-width: 280px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 380, ../../sass/_styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 380, ../../sass/_styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 380, ../../sass/_styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  /* line 380, ../../sass/_styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
/* line 396, ../../sass/_styles.scss */
#col-side .random_banner,
#col-side .side_banner {
  margin-bottom: 10px;
}

/* line 402, ../../sass/_styles.scss */
.mean-bar {
  box-shadow: 0 1px 1px #66cccc;
}
/* line 405, ../../sass/_styles.scss */
.mean-bar .mean-nav #hedding_mobile {
  width: 120px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 -60px;
  text-align: center;
  padding: 0;
}
/* line 406, ../../sass/_styles.scss */
.mean-bar .mean-nav #hedding_mobile img {
  width: 120px;
  height: auto;
  margin: 7px 0 0;
}

/* line 423, ../../sass/_styles.scss */
header {
  background: url(../images/bg_body_01.jpg) repeat-x left top;
  height: 185px;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 423, ../../sass/_styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 423, ../../sass/_styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 423, ../../sass/_styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
@media (max-width: 480px) {
  /* line 423, ../../sass/_styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
/* line 447, ../../sass/_styles.scss */
header h1 {
  margin-top: 30px;
  display: inline-block;
}
/* line 450, ../../sass/_styles.scss */
header h1 aside {
  margin-bottom: 22px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 447, ../../sass/_styles.scss */
  header h1 {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 447, ../../sass/_styles.scss */
  header h1 {
    display: none;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 447, ../../sass/_styles.scss */
  header h1 {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 447, ../../sass/_styles.scss */
  header h1 {
    display: none;
  }
}
/* line 466, ../../sass/_styles.scss */
header #header_nav {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
  float: right;
  height: 110px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 466, ../../sass/_styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 466, ../../sass/_styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 466, ../../sass/_styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  /* line 466, ../../sass/_styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
/* line 492, ../../sass/_styles.scss */
header #header_nav ul {
  margin-bottom: 20px;
}
/* line 495, ../../sass/_styles.scss */
header #header_nav li {
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 502, ../../sass/_styles.scss */
  header #header_bnr img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 502, ../../sass/_styles.scss */
  header #header_bnr img {
    width: 100%;
  }
}
/* line 511, ../../sass/_styles.scss */
header #nav {
  clear: both;
  font-size: 0;
}
/* line 514, ../../sass/_styles.scss */
header #nav li {
  display: inline-block;
}

/* line 522, ../../sass/_styles.scss */
.section_recommend .posts .post {
  margin: 0 0 10px;
}
/* line 523, ../../sass/_styles.scss */
.section_recommend .posts .post > div {
  border: 1px dotted #666;
}
/* line 527, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_pic {
  text-align: center;
  padding: 3px 0 0 0;
}
/* line 531, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_date {
  padding: 10px 8px 8px 8px;
}
/* line 533, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_date span {
  padding: 0 0 0 6px;
}
/* line 535, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_date span img {
  vertical-align: baseline;
}
/* line 540, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_txt {
  padding: 0 8px 18px 8px;
  clear: both;
  word-break: break-all;
}
/* line 544, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_txt a {
  line-height: 1.3;
}
/* line 548, ../../sass/_styles.scss */
.section_recommend .posts .post .recommend_category {
  padding: 8px 0 0 8px;
}
/* line 552, ../../sass/_styles.scss */
.section_recommend .posts .section_recommend .bottom_links {
  float: right;
  padding: 2px 0 0 0;
}
/* line 555, ../../sass/_styles.scss */
.section_recommend .posts .section_recommend .bottom_links a {
  color: #333;
}

/*各ページのcss*/
/* index.html
---------------------------------------------------------- */
/* .section_news */
/* line 12, ../../sass/_contents.scss */
.section_news {
  clear: both;
  background: url(../../images/bg_news_01.gif) repeat left top;
  padding: 10px 0 5px 0;
  overflow: hidden;
  margin: 0 0 25px 0;
}

/* line 20, ../../sass/_contents.scss */
.section_news .tabnav {
  width: 120px;
  float: right;
  padding: 0 10px 0 0;
}

/* line 26, ../../sass/_contents.scss */
.section_news .tabnav li {
  width: 120px;
  height: 40px;
  padding: 0 0 5px 0;
}

/* line 32, ../../sass/_contents.scss */
.section_news .tabnav li a,
.section_news .tabnav li a:active {
  display: block;
  width: 120px;
  height: 40px;
  text-decoration: none;
}

/* line 40, ../../sass/_contents.scss */
.section_news .tabnav li a.li01,
.section_news .tabnav li a.li01:active {
  background: url(../../images/btn_news_01_off.gif) no-repeat left top;
}

/* line 45, ../../sass/_contents.scss */
.section_news .tabnav li a.li02,
.section_news .tabnav li a.li02:active {
  background: url(../../images/btn_news_02_off.gif) no-repeat left top;
}

/* line 50, ../../sass/_contents.scss */
.section_news .tabnav li a.li03,
.section_news .tabnav li a.li03:active {
  background: url(../../images/btn_news_03_off.gif) no-repeat left top;
}

/* line 55, ../../sass/_contents.scss */
.section_news .tabnav li a.li04,
.section_news .tabnav li a.li04:active {
  background: url(../../images/btn_news_04_off.gif) no-repeat left top;
}

/* line 60, ../../sass/_contents.scss */
.section_news .tabnav li a.li05,
.section_news .tabnav li a.li05:active {
  background: url(../../images/btn_news_05_off.gif) no-repeat left top;
}

/* line 65, ../../sass/_contents.scss */
.section_news .tabnav li a.li06,
.section_news .tabnav li a.li06:active {
  background: url(../../images/btn_news_06_off.gif) no-repeat left top;
}

/* line 70, ../../sass/_contents.scss */
.section_news .tabnav li a span {
  display: none;
  overflow: hidden;
  visibility: hidden;
}

/* line 76, ../../sass/_contents.scss */
.section_news .tabnav li a:visited {
  text-decoration: none;
}

/* line 80, ../../sass/_contents.scss */
.section_news .tabnav li a.li01:hover,
.section_news .tabnav li.ui-tabs-selected a.li01 {
  background: url(../../images/btn_news_01_on.gif) no-repeat left top;
}

/* line 85, ../../sass/_contents.scss */
.section_news .tabnav li a.li02:hover,
.section_news .tabnav li.ui-tabs-selected a.li02 {
  background: url(../../images/btn_news_02_on.gif) no-repeat left top;
}

/* line 90, ../../sass/_contents.scss */
.section_news .tabnav li a.li03:hover,
.section_news .tabnav li.ui-tabs-selected a.li03 {
  background: url(../../images/btn_news_03_on.gif) no-repeat left top;
}

/* line 95, ../../sass/_contents.scss */
.section_news .tabnav li a.li04:hover,
.section_news .tabnav li.ui-tabs-selected a.li04 {
  background: url(../../images/btn_news_04_on.gif) no-repeat left top;
}

/* line 100, ../../sass/_contents.scss */
.section_news .tabnav li a.li05:hover,
.section_news .tabnav li.ui-tabs-selected a.li05 {
  background: url(../../images/btn_news_05_on.gif) no-repeat left top;
}

/* line 105, ../../sass/_contents.scss */
.section_news .tabnav li a.li06:hover,
.section_news .tabnav li.ui-tabs-selected a.li06 {
  background: url(../../images/btn_news_06_on.gif) no-repeat left top;
}

/* line 114, ../../sass/_contents.scss */
.section_news .tabdiv {
  width: 100%;
  max-width: 380px;
  height: 280px;
  min-height: 265px;
  background-color: #FFF;
  margin: 0 0 0 10px;
  overflow: hidden;
  float: left;
}

/* line 125, ../../sass/_contents.scss */
.news_tit {
  padding: 0 0 11px 0;
}

/* line 129, ../../sass/_contents.scss */
.section_news .tabdiv dl {
  width: 490px;
  overflow: hidden;
  clear: both;
  margin: 0 0 11px 13px;
  border-bottom: 1px dotted #666;
  padding: 0 0 5px 0;
}

/* line 138, ../../sass/_contents.scss */
.section_news .tabdiv dl dt {
  width: 85px;
  line-height: 1.5;
  display: inline-block;
}

/* line 144, ../../sass/_contents.scss */
.section_news .tabdiv dl dd.news_img {
  width: 72px;
  float: left;
}

/* line 149, ../../sass/_contents.scss */
.section_news .tabdiv dl dd.news_txt {
  line-height: 1.5;
}

/* line 153, ../../sass/_contents.scss */
.section_news .ui-tabs-hide {
  display: none;
}

/* line 157, ../../sass/_contents.scss */
.section_news #featuredvid {
  text-align: center;
}

/* line 161, ../../sass/_contents.scss */
.section_news .fvid {
  margin-bottom: 5px;
}

/* line 165, ../../sass/_contents.scss */
.section_news .vidselector li a.li01 {
  background: url(../../images/btn_news_01_on.gif) no-repeat left top;
}

/* line 169, ../../sass/_contents.scss */
.main_btn {
  margin: 0 0 25px 0;
}

/* .section_recommend */
/* line 176, ../../sass/_contents.scss */
.section_recommend {
  width: 100%;
  overflow: hidden;
  clear: both;
  padding: 0 0 10px 0;
}

/* line 183, ../../sass/_contents.scss */
.section_recommend .recommend_tit {
  padding-bottom: 15px;
}

/* line 187, ../../sass/_contents.scss */
.section_recommend ul {
  overflow: hidden;
  clear: both;
  margin: 0 0 15px 0;
}

/* line 193, ../../sass/_contents.scss */
.section_recommend ul li {
  float: left;
  width: 141px;
  border: 1px dotted #666;
  /*border:1px dotted #F00;*/
  margin: 10px 16px 0 0;
}
@media (max-width: 320px){
.section_recommend ul li {
  margin: 10px 4px 0 0;
}
}

/* line 201, ../../sass/_contents.scss */
.section_recommend ul li .recommend_pic {
  text-align: center;
  padding: 3px 0 0 0;
}

/* line 206, ../../sass/_contents.scss */
.section_recommend ul li .recommend_date {
  padding: 10px 8px 8px 8px;
}

/* line 210, ../../sass/_contents.scss */
.section_recommend ul li .recommend_date span {
  padding: 0 0 0 6px;
}

/* line 214, ../../sass/_contents.scss */
.section_recommend ul li .recommend_date span img {
  vertical-align: baseline;
}

/* line 218, ../../sass/_contents.scss */
.section_recommend ul li .recommend_txt {
  padding: 0 8px 18px 8px;
  clear: both;
  word-break: break-all;
}

/* line 224, ../../sass/_contents.scss */
.section_recommend ul li .recommend_txt a {
  line-height: 1.3;
}

/* line 228, ../../sass/_contents.scss */
.section_recommend ul li .recommend_category {
  padding: 8px 0 0 8px;
}

/* line 232, ../../sass/_contents.scss */
.section_recommend .bottom_links {
  float: right;
  padding: 2px 0 0 0;
}

/* line 237, ../../sass/_contents.scss */
.section_recommend .bottom_links a {
  color: #333;
}

/* .section_link */
/* line 244, ../../sass/_contents.scss */
.section_link {
  width: 100%;
  overflow: hidden;
  clear: both;
}

#aside .section_link {
	margin-bottom: 10px;
}


/* line 250, ../../sass/_contents.scss */
.section_link .link_tit {
  padding-bottom: 3px;
}

/* line 254, ../../sass/_contents.scss */
.section_link ul li {
  float: left;
  padding: 12px 7px 0 0;
}

/* outing/index.html
---------------------------------------------------------- */
/* line 263, ../../sass/_contents.scss */
#searchInfo {
  margin: 20px 0;
}

/* line 267, ../../sass/_contents.scss */
#searchInfo h3 {
  margin-bottom: 10px;
}

/* line 271, ../../sass/_contents.scss */
#searchInfo strong {
  font-weight: bold;
}

/* .section_catalog */
/* line 278, ../../sass/_contents.scss */
.section_catalog {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 283, ../../sass/_contents.scss */
.section_catalog h2.tit01 {
  padding: 22px 0 16px 0;
}

/* line 287, ../../sass/_contents.scss */
.section_catalog .catalog_cont {
  overflow: hidden;
  clear: both;
  border-bottom: #666 1px dotted;
  padding: 12px 0 11px 0;
}

/* line 294, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_pic {
  padding: 3px 0 0 0;
}

/* line 300, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner .catalog_dates {
  color: #666;
  line-height: 1.2;
  padding: 0 0 5px 0;
}

/* line 306, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner .catalog_tit {
  padding: 0 0 10px 0;
}

/* line 310, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner .catalog_tit a {
  color: #f90;
  font-weight: bold;
  line-height: 1.4;
}

/* line 316, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner .catalog_txt {
  line-height: 1.4;
  padding: 0 0 6px 0;
}

/* line 321, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner .catalog_links {
  text-align: right;
}

/* line 325, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner .catalog_links a {
  color: #666;
  line-height: 1.5;
}

/* line 330, ../../sass/_contents.scss */
.section_catalog .catalog_cont .catalog_inner_large {
  float: none;
}

/* outing_detail_index
---------------------------------------------------------- */
/* section_catalogdetail */
/* line 341, ../../sass/_contents.scss */
.section_catalogdetail {
  overflow: hidden;
  clear: both;
  padding: 19px 0 0 0;
}

/* line 347, ../../sass/_contents.scss */
.section_catalogdetail h3 {
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  clear: both;
  padding: 10px 0 3px 0;
}

/* line 355, ../../sass/_contents.scss */
.section_catalogdetail h4 {
  border-bottom: 1px solid #999;
  padding: 0 0 9px 0;
  margin-bottom: 15px;
}

/* line 361, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont {
  overflow: hidden;
  clear: both;
  padding: 0 0 15px 0;
}

/*.section_catalogdetail .catalogdetail_cont .catalogdetail_txt {*/
/* line 370, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont p {
  line-height: 1.55;
  clear: both;
  padding: 18px 0 15px 0;
}

/* line 376, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont dl {
  width: 288px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 382, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont dl dd {
  color: #999;
  padding: 3px 0 0 0;
  line-height: 1.5;
}

/* line 388, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont .catalogdetail_txt2 {
  padding: 10px 0 10px 0;
  line-height: 1.5;
}

/* line 393, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont ul {
  overflow: hidden;
  clear: both;
  padding: 0 0 30px 0;
}

/* line 399, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont ul li {
  float: right;
  padding: 0 4px 0 7px;
}

/* line 404, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont .catalogdetail_links {
  text-align: center;
}

/* line 408, ../../sass/_contents.scss */
.section_catalogdetail .catalogdetail_cont .catalogdetail_links a {
  line-height: 1.6;
}

@media (max-width: 640px) and (min-width: 481px){
.catalogdetail_cont img {
  width: 100%;
  height: auto;
}
} 
@media (max-width: 480px){
.catalogdetail_cont img {
  width: 100%;
  height: auto;
}
}

/* company/index.html
---------------------------------------------------------- */
/* .section_company */
/* line 419, ../../sass/_contents.scss */
.section_company {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 424, ../../sass/_contents.scss */
h2.tit01.company {
  border-top: #39BDE8 5px solid;
}

/* line 428, ../../sass/_contents.scss */
h3.company {
  padding: 0 0 4px 0;
  border-bottom: 1px solid #39BDE8;
  margin-bottom: 20px;
}

/* line 434, ../../sass/_contents.scss */
.section_company .company_cont {
  overflow: hidden;
  clear: both;
  padding: 16px 0 22px 0;
}

/* line 440, ../../sass/_contents.scss */
.section_company .company_cont .company_pic {
  float: right;
  padding: 0 0 0 15px;
}

/* line 445, ../../sass/_contents.scss */
.section_company .company_cont .company_tit {
  padding: 0 0 0 0;
}

/* line 449, ../../sass/_contents.scss */
.section_company .company_cont .company_txt {
  color: #666;
  line-height: 1.3;
  padding: 15px 0 2px 0;
}

/* line 455, ../../sass/_contents.scss */
.section_company .company_cont2 {
  overflow: hidden;
  clear: both;
  padding: 0 0 25px 0;
}

/* line 461, ../../sass/_contents.scss */
.section_company .company_cont2 table {
  width: 100%;
  margin-bottom: 20px;
}

/* line 466, ../../sass/_contents.scss */
.section_company .company_cont2 table th {
  width: 75px;
  padding: 0 0 12px 10px;
  border-right: 1px solid #999;
  text-align: left;
  vertical-align: top;
  color: #666;
  line-height: 1.2;
}

/* line 476, ../../sass/_contents.scss */
.section_company .company_cont2 table td {
  padding: 0 0 12px 25px;
  color: #666;
  line-height: 1.2;
}

/* line 482, ../../sass/_contents.scss */
.section_company .company_cont2 table td.company_lineheight {
  line-height: 1.66;
  padding: 0 0 5px 25px;
}

/* line 487, ../../sass/_contents.scss */
.section_company .company_cont2 table td span {
  padding: 0 0 0 5px;
}

/* line 491, ../../sass/_contents.scss */
.section_company .company_cont2 table td a {
  color: #39BDE8;
}

/* line 495, ../../sass/_contents.scss */
.section_company .company_cont3 {
  overflow: hidden;
  clear: both;
}

/* line 500, ../../sass/_contents.scss */
.section_company .company_cont3 .company_pic {
  float: right;
  padding: 0 0 0 20px;
}

/* line 505, ../../sass/_contents.scss */
.section_company .company_cont3 .company_txt {
  color: #666;
  line-height: 1.45;
  padding: 0 0 25px 0;
}

/* company/service/index.html
---------------------------------------------------------- */
/* .section_service */
/* line 518, ../../sass/_contents.scss */
.section_service {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 523, ../../sass/_contents.scss */
.section_service .service_cont {
  overflow: hidden;
  clear: both;
}

/* line 528, ../../sass/_contents.scss */
.section_service .service_cont .service_txt {
  padding: 12px 0 26px 0;
  text-align: center;
}

/* line 533, ../../sass/_contents.scss */
.section_service .service_cont .service_img {
  text-align: center;
  padding: 0 0 43px 0;
}

/* line 538, ../../sass/_contents.scss */
.section_service .service_cont .service_inner {
  overflow: hidden;
  clear: both;
  border-bottom: 1px dotted #666;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

/* line 546, ../../sass/_contents.scss */
.section_service .service_cont .service_inner .service_pic {
  float: right;
}

/* line 550, ../../sass/_contents.scss */
.section_service .service_cont .service_inner .service_txt2 {
  width: 445px;
  color: #666;
  line-height: 1.3;
  padding: 10px 0 0 0;
}

/* line 557, ../../sass/_contents.scss */
.section_service .service_cont .service_inner .service_txt2 a {
  color: #39BDE8;
}

/* company/service/service1.html
---------------------------------------------------------- */
/* .section_service1 */
/* line 568, ../../sass/_contents.scss */
.section_service1 {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 573, ../../sass/_contents.scss */
.section_service1 .service1_cont {
  clear: both;
  padding: 16px 0 0 0;
}

/* line 578, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner {
  overflow: hidden;
  clear: both;
  padding: 0 0 20px 0;
  margin: 0 0 16px 0;
  border-bottom: 2px dotted #39BDE8;
}

/* line 586, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner h4 {
  padding: 0 0 7px 0;
}

/* line 590, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner .service1_pic {
  width: 240px;
  float: left;
}

/* line 595, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner .service1_pic p {
  padding: 10px 0 0 0;
}

/* line 599, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner .service1_txt {
  width: 406px;
  color: #666;
  line-height: 1.35;
  float: right;
  padding: 6px 0 0 0;
  word-break: break-all;
}

/* line 608, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner .service1_tit {
  width: 406px;
  color: #666;
  line-height: 1.35;
  float: right;
  padding: 6px 0 0 0;
  font-weight: bold;
}

/* line 617, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner .service1_txt2 {
  color: #666;
  line-height: 1.35;
  padding: 6px 0 0 0;
  word-break: break-all;
}

/* line 624, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner .service1_txt a,
.section_service1 .service1_cont .service1_inner .service1_txt2 a {
  color: #39BDE8;
}

/* line 629, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner dl {
  clear: both;
  overflow: hidden;
}

/* line 634, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner dl dt {
  float: left;
  line-height: 1.35;
  color: #666;
}

/* line 640, ../../sass/_contents.scss */
.section_service1 .service1_cont .service1_inner dl dd {
  float: left;
  line-height: 1.35;
  color: #666;
}

/* station/index.html
---------------------------------------------------------- */
/* .section_station */
/* line 653, ../../sass/_contents.scss */
.section_station {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 658, ../../sass/_contents.scss */
.section_station h3 {
  border-bottom: #6cc 1px solid;
  padding: 16px 0 4px 0;
  margin: 0 0 6px 0;
}

/* line 664, ../../sass/_contents.scss */
.section_station ul {
  clear: both;
  padding: 0 0 9px 0;
}

/* line 669, ../../sass/_contents.scss */
.section_station ul li {
  display: inline;
  padding: 0 14px 0 0;
  word-break: keep-all;
}

/* line 675, ../../sass/_contents.scss */
.section_station ul li a {
  line-height: 1.8;
  color: #666;
}

/* station/yamanote/index.html
---------------------------------------------------------- */
/* .section_line */
/* line 687, ../../sass/_contents.scss */
.section_line {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 692, ../../sass/_contents.scss */
.section_line ul {
  width: 640px;
  padding: 4px 20px 0 0;
  clear: both;
}

/* line 698, ../../sass/_contents.scss */
.section_line ul li {
  display: inline;
  padding: 0 17px 0 0;
}

/* line 703, ../../sass/_contents.scss */
.section_line ul li a {
  line-height: 2;
  color: #666;
}

/* station/detail/index.html
---------------------------------------------------------- */
/* .section_stationdetail */
/* line 715, ../../sass/_contents.scss */
.section_stationdetail {
  clear: both;
  padding: 19px 0 0 0;
}

/* line 720, ../../sass/_contents.scss */
.section_stationdetail h3 {
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  clear: both;
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #999;
  margin: 0 0 26px 0;
}

/* line 730, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_cont {
  width: 320px;
  float: left;
}

/* line 735, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_cont h4 {
  border-bottom: #6cc 1px solid;
  padding: 0 0 4px 0;
}

/* line 740, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_cont p {
  color: #666;
  line-height: 1.8;
  padding: 6px 0 12px 0;
}

/* line 746, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_cont2 {
  width: 300px;
  border: #999 1px dotted;
  float: right;
  padding: 11px;
}

/* line 753, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_cont2 .stationdetail_tit {
  padding: 16px 0 11px 10px;
  color: #9c0;
}

/* line 758, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_cont2 .stationdetail_txt {
  line-height: 1.4;
  color: #666;
  padding: 0 5px 3px 10px;
}

/* line 764, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_btn {
  width: 656px;
  overflow: hidden;
  clear: both;
  text-align: right;
  padding: 17px 4px 65px 0;
}

/* line 772, ../../sass/_contents.scss */
.section_stationdetail .stationdetail_btn li {
  float: right;
  padding: 0 0 0 10px;
}

/* sitemap/index.html
---------------------------------------------------------- */
/* .section_sitemap */
/* line 784, ../../sass/_contents.scss */
.section_sitemap {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 789, ../../sass/_contents.scss */
.section_sitemap ul {
  clear: both;
  padding: 15px 0 13px 0;
}

/* line 794, ../../sass/_contents.scss */
.section_sitemap ul li {
  display: inline;
  padding: 0 22px 0 0;
}

/* line 799, ../../sass/_contents.scss */
.section_sitemap ul li a {
  line-height: 1.4;
  color: #333;
}

/* line 804, ../../sass/_contents.scss */
.section_sitemap ul li p {
  display: inline;
}

/* line 808, ../../sass/_contents.scss */
.section_sitemap ul li.a01 a {
  padding: 0 13px 0 8px;
}

/* kiyaku.html
---------------------------------------------------------- */
/* .section_kiyaku */
/* line 819, ../../sass/_contents.scss */
.section_kiyaku {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 824, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt {
  padding: 10px 0 5px 0;
  line-height: 1.4;
}

/* line 829, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt a {
  line-height: 1.4;
}

/* line 833, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt a:hover {
  line-height: 1.4;
}

/* line 837, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt2 {
  line-height: 1.3;
  text-indent: -34px;
  padding-left: 42px;
}

/* line 843, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt2.pt10 {
  padding-top: 10px;
}

/* line 847, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt3 {
  line-height: 1.3;
}

/* line 851, ../../sass/_contents.scss */
.section_kiyaku .kiyaku_txt3.pt10 {
  padding-top: 10px;
}

/* privacy.html
---------------------------------------------------------- */
/* .section_privacy */
/* line 862, ../../sass/_contents.scss */
.section_privacy {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 867, ../../sass/_contents.scss */
.section_privacy .privacy_txt {
  padding: 12px 0 5px 0;
  line-height: 1.3;
}

/* line 872, ../../sass/_contents.scss */
.section_privacy .privacy_txt a {
  line-height: 1.3;
}

/* member/index.html
---------------------------------------------------------- */
/* .section_privacy */
/* line 883, ../../sass/_contents.scss */
.section_member {
  clear: both;
  padding: 10px 0 0 0;
}

/* line 888, ../../sass/_contents.scss */
.section_member .fv {
  position: relative;
}

/* line 892, ../../sass/_contents.scss */
.section_member .fv .fv_btn {
  position: absolute;
  top: 140px;
  left: 196px;
}

/* line 898, ../../sass/_contents.scss */
.section_member .fv .fv_sample {
  position: absolute;
  top: 417px;
  left: 184px;
}

/* line 904, ../../sass/_contents.scss */
.catch {
  text-align: center;
  margin: 30px 0;
}

/* line 909, ../../sass/_contents.scss */
.section_member .btns {
  width: 480px;
  margin: 0 auto;
}

/* line 914, ../../sass/_contents.scss */
.section_member .btns {
  zoom: 100%;
}

/* line 918, ../../sass/_contents.scss */
.section_member .btns:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

/* line 926, ../../sass/_contents.scss */
.section_member .btns .btn_entry {
  float: left;
}

/* line 930, ../../sass/_contents.scss */
.section_member .btns .btn_present {
  float: right;
}

/* line 934, ../../sass/_contents.scss */
.section_member .btn_present_detail {
  margin-top: 20px;
  text-align: center;
}

/* line 940, ../../sass/_contents.scss */
.resp-tabs-container .resp-tab-content {
  display: none;
}
/* line 943, ../../sass/_contents.scss */
.resp-tabs-container .resp-tab-content ul li {
  margin-bottom: 10px;
  border-bottom: 1px dotted #666;
  padding: 0 0 10px 0;
}
/* line 947, ../../sass/_contents.scss */
.resp-tabs-container .resp-tab-content ul li .news_title {
  margin-left: 160px;
  line-height: 1.2;
}
