/* line 35, ../../sass/styles.scss */
#header_nav li a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding-left: 12px;
  color: #666;
  line-height: 1.2;
}

/* #content_area */
/* line 45, ../../sass/styles.scss */
#content_area {
  border-bottom: 5px solid #66CCCC;
  padding-bottom: 20px;
}

/* #content */
/* line 53, ../../sass/styles.scss */
#content {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  padding: 25px 0 115px 0;
  background: url(../images/bg_content_01.jpg) no-repeat left bottom;
}

/* #aside */
/* line 67, ../../sass/styles.scss */
#snavi {
  width: 250px;
  overflow: hidden;
  clear: both;
  padding: 0 0 10px 0;
}

/* line 74, ../../sass/styles.scss */
#snavi li a {
  display: block;
  width: 250px;
  padding: 8px 0 9px 22px;
  background: url(../images/ico_arrow_01.gif) no-repeat 10px;
  color: #666;
  text-decoration: none;
}

/* line 83, ../../sass/styles.scss */
#snavi li a:hover,
#snavi li.on a {
  background: url(../images/ico_arrow_02.gif) no-repeat 10px #39BDE8;
  color: #FFF;
}

/* line 89, ../../sass/styles.scss */
#aside .login {
  width: 250px;
  height: 170px;
  position: relative;
  margin-bottom: 10px;
}

/* line 96, ../../sass/styles.scss */
#aside .login .btn {
  position: absolute;
  top: 98px;
  left: 24px;
}

/* line 102, ../../sass/styles.scss */
.aside_facebook {
  width: 250px;
  margin-bottom: 10px;
}

/* line 107, ../../sass/styles.scss */
.aside_twitter {
  width: 250px;
}

/* line 111, ../../sass/styles.scss */
.aside_search {
  clear: both;
  padding: 0 0 5px 0;
}

/* line 116, ../../sass/styles.scss */
.aside_search_tit {
  padding: 0 0 12px 0;
}

/* line 120, ../../sass/styles.scss */
.aside_search dl {
  clear: both;
  padding: 0 0 8px 0;
}

/* line 125, ../../sass/styles.scss */
.aside_search dl dt {
  color: #6cc;
  font-weight: bold;
  line-height: 1.3;
}

/* line 131, ../../sass/styles.scss */
.aside_search dl dd {
  overflow: hidden;
  clear: both;
  border-bottom: #666 1px dotted;
  padding: 0 0 7px 0;
}

/* line 138, ../../sass/styles.scss */
.aside_search dl.noline dd {
  border: none;
}

/* line 142, ../../sass/styles.scss */
.aside_search dl dd p {
  float: left;
  padding: 0 10px 0 0;
  white-space: nowrap;
}

/* line 148, ../../sass/styles.scss */
.aside_search dl dd p a {
  color: #221f1f;
  line-height: 1.85;
}

/* #main */
/* line 156, ../../sass/styles.scss */
#pnav {
  clear: both;
}

/* line 160, ../../sass/styles.scss */
#pnav li {
  display: inline;
  color: #666;
}

/* line 165, ../../sass/styles.scss */
#pnav li a {
  color: #666;
  line-height: 1.2;
}

/* line 170, ../../sass/styles.scss */
h2.tit01 {
  border-top: #6cc 5px solid;
  padding: 22px 0 20px 0;
  border-bottom: #999 1px solid;
  margin: 0 0 10px 0;
  clear: both;
  overflow: hidden;
}

/* line 179, ../../sass/styles.scss */
h2.tit01 span {
  padding: 12px 0 0 3px;
  line-height: 1.2;
  display: block;
  float: left;
  font-weight: bold;
}

/* line 187, ../../sass/styles.scss */
h2.tit01 img {
  float: left;
}

/* line 191, ../../sass/styles.scss */
h2.tit02 {
  overflow: hidden;
  clear: both;
  border-bottom: 3px solid #66cccc;
}

/* line 197, ../../sass/styles.scss */
h2.tit02 .catalogdetail_stxt {
  color: #fff;
  text-align: center;
  display: block;
  line-height: 1.55;
  background-color: #66cccc;
  font-weight: bold;
  padding: 3px 17px 0px 17px;
  float: left;
}

/* line 208, ../../sass/styles.scss */
h2.tit02 .catalogdetail_sbtn {
  display: block;
  float: right;
  padding: 4px 0 0 11px;
}

/* line 214, ../../sass/styles.scss */
.related_tags {
  width: 660px;
  overflow: hidden;
  clear: both;
}

/* line 220, ../../sass/styles.scss */
.related_tags .tags_tit {
  font-weight: bold;
  color: #66cccc;
  line-height: 1.5;
  padding: 0 0 4px 0;
}

/* line 227, ../../sass/styles.scss */
.related_tags ul {
  width: 660px;
  overflow: hidden;
  clear: both;
}

/* line 233, ../../sass/styles.scss */
.related_tags ul li {
  float: left;
  padding: 0 10px 0 0;
}

/* line 238, ../../sass/styles.scss */
.related_tags ul li a {
  line-height: 1.6;
}

/* line 242, ../../sass/styles.scss */
.bottom_links {
  text-align: right;
}

/* line 246, ../../sass/styles.scss */
.bottom_links a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding: 0 0 0 12px;
  color: #666;
  line-height: 1.2;
}

/* .pagelist */
/* line 256, ../../sass/styles.scss */
.pagelist {
  text-align: center;
  padding: 20px 0 0 0;
}

/* line 261, ../../sass/styles.scss */
.pagelist li {
  display: inline;
}

/* line 265, ../../sass/styles.scss */
.pagelist li a {
  color: #666;
  line-height: 1.2;
}

/* #footer_area */
/* line 273, ../../sass/styles.scss */
#footer_area {
  width: 100%;
}

/* line 277, ../../sass/styles.scss */
.pagetop {
  margin: 0 auto;
  position: relative;
  clear: both;
}

/* line 283, ../../sass/styles.scss */
.pagetop img {
  position: absolute;
  top: -31px;
  right: 30px;
}

/* line 289, ../../sass/styles.scss */
#footer {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

/* line 296, ../../sass/styles.scss */
#footer_logo {
  padding: 35px 0 0 0;
}

/* line 300, ../../sass/styles.scss */
#footer_seo {
  line-height: 1.65;
  padding: 10px 0 10px 0;
}

/* line 305, ../../sass/styles.scss */
#fnav {
  margin-bottom: 20px;
}

/* line 309, ../../sass/styles.scss */
#fnav ul {
  padding: 13px 0 0 0;
}

/* line 313, ../../sass/styles.scss */
#fnav ul li {
  display: inline;
  line-height: 1.5;
  padding-right: 8px;
}

/* line 319, ../../sass/styles.scss */
#fnav ul li a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding-left: 14px;
}

/* line 324, ../../sass/styles.scss */
#fnav dl {
  padding: 13px 0 0 0;
}

/* line 328, ../../sass/styles.scss */
#fnav dl dt {
  display: inline;
  line-height: 1.5;
}

/* line 333, ../../sass/styles.scss */
#fnav dl dt a {
  background: url(../images/ico_arrow_01.gif) no-repeat left;
  padding: 0 5px 0 14px;
}

/* line 338, ../../sass/styles.scss */
#fnav dl dd {
  display: inline;
  line-height: 1.5;
}

/* line 343, ../../sass/styles.scss */
#fnav dl dd a {
  padding: 0 4px 0 4px;
}

/* line 347, ../../sass/styles.scss */
.copyright {
  border-top: 1px solid #999;
  padding: 10px 0 10px 0;
}

/* line 352, ../../sass/styles.scss */
.copyright p {
  margin: 0 auto;
  text-align: center;
}

/* line 357, ../../sass/styles.scss */
.container {
  max-width: 970px;
}

@media (min-width: 1200px) {
  /* line 361, ../../sass/styles.scss */
  #col-main {
    min-width: 690px;
  }
}

@media (min-width: 1200px) {
  /* line 367, ../../sass/styles.scss */
  #col-side {
    max-width: 280px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 367, ../../sass/styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 367, ../../sass/styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 367, ../../sass/styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  /* line 367, ../../sass/styles.scss */
  #col-side {
    padding-top: 20px;
  }
}
/* line 383, ../../sass/styles.scss */
#col-side .random_banner,
#col-side .side_banner {
  margin-bottom: 10px;
}

/* line 389, ../../sass/styles.scss */
.mean-bar {
  box-shadow: 0 1px 1px #66cccc;
}
/* line 392, ../../sass/styles.scss */
.mean-bar .mean-nav #hedding_mobile {
  width: 120px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 -60px;
  text-align: center;
  padding: 0;
}
/* line 393, ../../sass/styles.scss */
.mean-bar .mean-nav #hedding_mobile img {
  width: 120px;
  height: auto;
  margin: 7px 0 0;
}

/* line 410, ../../sass/styles.scss */
header {
  background: url(../images/bg_body_01.jpg) repeat-x left top;
  height: 185px;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 410, ../../sass/styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 410, ../../sass/styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 410, ../../sass/styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
@media (max-width: 480px) {
  /* line 410, ../../sass/styles.scss */
  header {
    background-image: none;
    background: #fff;
    height: auto;
  }
}
/* line 434, ../../sass/styles.scss */
header h1 {
  margin-top: 30px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 434, ../../sass/styles.scss */
  header h1 {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 434, ../../sass/styles.scss */
  header h1 {
    display: none;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 434, ../../sass/styles.scss */
  header h1 {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 434, ../../sass/styles.scss */
  header h1 {
    display: none;
  }
}
/* line 450, ../../sass/styles.scss */
header #header_nav {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
  float: right;
  height: 110px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 450, ../../sass/styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 767px) and (min-width: 641px) {
  /* line 450, ../../sass/styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 450, ../../sass/styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  /* line 450, ../../sass/styles.scss */
  header #header_nav {
    float: none;
    text-align: left;
    margin-top: 10px;
  }
}
/* line 476, ../../sass/styles.scss */
header #header_nav ul {
  margin-bottom: 20px;
}
/* line 479, ../../sass/styles.scss */
header #header_nav li {
  display: inline-block;
}
@media (max-width: 640px) and (min-width: 481px) {
  /* line 484, ../../sass/styles.scss */
  header #header_bnr img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 484, ../../sass/styles.scss */
  header #header_bnr img {
    width: 100%;
  }
}
/* line 493, ../../sass/styles.scss */
header #nav {
  clear: both;
  font-size: 0;
}
/* line 496, ../../sass/styles.scss */
header #nav li {
  display: inline-block;
}

/* line 504, ../../sass/styles.scss */
.section_recommend .posts .post {
  margin: 0 0 10px;
}
/* line 505, ../../sass/styles.scss */
.section_recommend .posts .post > div {
  border: 1px dotted #666;
}
/* line 509, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_pic {
  text-align: center;
  padding: 3px 0 0 0;
}
/* line 513, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_date {
  padding: 10px 8px 8px 8px;
}
/* line 515, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_date span {
  padding: 0 0 0 6px;
}
/* line 517, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_date span img {
  vertical-align: baseline;
}
/* line 522, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_txt {
  padding: 0 8px 18px 8px;
  clear: both;
  word-break: break-all;
}
/* line 526, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_txt a {
  line-height: 1.3;
}
/* line 530, ../../sass/styles.scss */
.section_recommend .posts .post .recommend_category {
  padding: 8px 0 0 8px;
}
/* line 534, ../../sass/styles.scss */
.section_recommend .posts .section_recommend .bottom_links {
  float: right;
  padding: 2px 0 0 0;
}
/* line 537, ../../sass/styles.scss */
.section_recommend .posts .section_recommend .bottom_links a {
  color: #333;
}
