@charset "UTF-8";

/*基本レイアウトcss*/

/* layout
---------------------------------------------------------- */ 
body {
	background:url(../images/bg_body_01.jpg) repeat-x left top;
}
#wrap {
	width:100%;
}
/* #header */ 
#header {
	width:940px;
	height:185px;
	margin:0 auto;
	position:relative;
}
h1 {
	position:absolute;
	top:35px;
	left:0;
	color:#666;
	line-height:1.5;
	width: 620px;
}
#logo {
	position:absolute;
	top:68px;
	left:0;
}
#facebook {
	position:absolute;
	top:30px;
	right:0;
}
#twitter {
	position:absolute;
	top:30px;
	right:80px;
}
#header_nav {
	position:absolute;
	top:35px;
	right:160px;
}
#header_nav li {
	display:inline;
	padding-left:15px;
}
#header_nav li a {
	background:url(../images/ico_arrow_01.gif) no-repeat left;
	padding-left:12px;
	color:#666;
	line-height:1.2;
}
#header_bnr {
	position:absolute;
	top:70px;
	right:0;
}
#nav {
	position:absolute;
	top:150px;
	left:0;
	width:940px;
}
#nav li {
	float:left;
}
/* #content_area */ 
#content_area {
	width:100%;
	min-width:940px;
	border-bottom:5px solid #66CCCC;
}
/* #content */ 
#content {
	width:940px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
	padding:25px 0 115px 0;
	background:url(../images/bg_content_01.jpg) no-repeat left bottom;
}
/* #aside */ 
#aside {
	width:250px;
	float:right;
}
#snavi {
	width:250px;
	overflow:hidden;
	clear:both;
	padding:0 0 10px 0;
}
#snavi li a {
	display:block;
	width:250px;
	padding:8px 0 9px 22px;
	background:url(../images/ico_arrow_01.gif) no-repeat 10px;
	color:#666;
	text-decoration:none;
}
#snavi li a:hover,
#snavi li.on a {
	background:url(../images/ico_arrow_02.gif) no-repeat 10px #39BDE8;
	color:#FFF;
}
#aside .login {
	width:250px;
	height:170px;
	position:relative;
	margin-bottom:10px;
}
#aside .login .btn {
	position:absolute;
	top:98px;
	left:24px;
}
.aside_facebook {
	width:250px;
	margin-bottom:10px;
}
.aside_twitter {
	width:250px;
}
.aside_search {
	width:250px;
	clear:both;
	padding:0 0 5px 0;
}
.aside_search_tit {
	padding:0 0 12px 0;
}
.aside_search dl {
	width:250px;
	clear:both;
	padding:0 0 8px 0;
}
.aside_search dl dt {
	color:#6cc;
	font-weight:bold;
	line-height:1.3;
}
.aside_search dl dd {
	width:250px;
	overflow:hidden;
	clear:both;
	border-bottom:#666 1px dotted;
	padding:0 0 7px 0;
}
.aside_search dl.noline dd {
	border:none;
}
.aside_search dl dd p {
	float:left;
	padding:0 10px 0 0;
	white-space:nowrap;
}
.aside_search dl dd p a {
	color:#221f1f;
	line-height:1.85;
}


/* #main */ 
#main {
	width:660px;
	float:left;
}
#pnav {
	width:660px;
	overflow:hidden;
	clear:both;
}
#pnav li {
	display:inline;
	color:#666;
}
#pnav li a {
	color:#666;
	line-height:1.2;
}
h2.tit01 {
	width:660px;
	border-top:#6cc 5px solid;
	padding:22px 0 20px 0;
	border-bottom:#999 1px solid;
	margin:0 0 10px 0;
	clear:both;
	overflow:hidden;
}
h2.tit01 span {
	padding:12px 0 0 3px;
	line-height:1.2;
	display:block;
	float:left;
	font-weight:bold;
}
h2.tit01 img {
	float:left;
}
h2.tit02 {
	width:660px;
	overflow:hidden;
	clear:both;
	border-bottom:3px solid #66cccc;
}
h2.tit02 .catalogdetail_stxt {
	color:#fff;
	text-align:center;
	display:block;
	line-height:1.55;
	background-color:#66cccc;
	font-weight:bold;
	padding:3px 17px 0px 17px;
	float:left;
}
h2.tit02 .catalogdetail_sbtn {
	display:block;
	float:right;
	padding:4px 0 0 11px;
}
.related_tags {
	width:660px;
	overflow:hidden;
	clear:both;
}
.related_tags .tags_tit {
	font-weight:bold;
	color:#66cccc;
	line-height:1.5;
	padding:0 0 4px 0;
}
.related_tags ul {
	width:660px;
	overflow:hidden;
	clear:both;
}
.related_tags ul li {
	float:left;
	padding:0 10px 0 0;
}
.related_tags ul li a {
	line-height:1.6;
}
.bottom_links {
	text-align:right;
}
.bottom_links a {
	background:url(../images/ico_arrow_01.gif) no-repeat left;
	padding:0 0 0 12px;
	color:#666;
	line-height:1.2;
}
/* .pagelist */
.pagelist {
	text-align:center;
	padding:20px 0 0 0;
}
.pagelist li {
	display:inline;
}
.pagelist li a {
	color:#666;
	line-height:1.2;
}

/* #footer_area */ 
#footer_area {
	width:100%;
}
.pagetop {
	width:940px;
	margin:0 auto;
	position:relative;
	clear:both;
}
.pagetop img {
	position:absolute;
	top:-31px;
	right:30px;
}
#footer {
	width:940px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
}
#footer_logo {
	padding:35px 0 0 0;
}
#footer_seo {
	width:420px;
	line-height:1.65;
	padding:10px 0 10px 0;
}
#fnav {
	width:433px;
	float:right;
	padding:85px 0 45px 0;
}
#fnav ul {
	width:433px;
	clear:both;
	padding:13px 0 0 0;
}
#fnav ul li {
	display:inline;
	line-height:1.5;
	padding-right:8px;
}
#fnav ul li a {
	background:url(../images/ico_arrow_01.gif) no-repeat left;
	padding-left:14px;
}
#fnav dl {
	width:433px;
	padding:13px 0 0 0;
}
#fnav dl dt {
	display:inline;
	line-height:1.5;
}
#fnav dl dt a {
	background:url(../images/ico_arrow_01.gif) no-repeat left;
	padding:0 5px 0 14px;
}
#fnav dl dd {
	display:inline;
	line-height:1.5;
}
#fnav dl dd a {
	padding:0 4px 0 4px;
}
.copyright {
	border-top:1px solid #999;
	padding:10px 0 10px 0;
}
.copyright p {
	width:940px;
	margin:0 auto;
	text-align:center;
}