/*
 * jQuery Nivo Slider v3.0.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
#mainimg {
	width:660px;
	height:292px;
	padding:5px 0 0 0;
	background:url(../../images/bg_mainimg.gif) no-repeat left top;
	margin:0 0 20px 0;
}
.slider-wrapper  {
	width:650px;
	margin:0 0 0 5px;
	height:292px;
}
.slider-wrapper img {
	border:inset;
}
.nivoSlider {
	position:relative;
	width:650px;
	height:auto;
	margin:0 auto;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000000;
	color:#ffffff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding:0px;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}










/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.2
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	width:650px!important;
	position:relative;
	background:#fff url(../../images/loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

/* controlNav */
.theme-default .nivo-controlNav {
	text-align: center;
	padding:0 0 20px 299px;
	position:absolute;
	top:280px;
	left:0px;
}
.theme-default .nivo-controlNav a {
	display:block;
	float:left;
	width:13px;
	height:12px;
	background:url(../../images/ico_circle_01.gif) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 7px 0 0;
	overflow:hidden;
}
.theme-default .nivo-controlNav a.active {
	background:url(../../images/ico_circle_02.gif) no-repeat 0 0;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:50px;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background:url(../../images/btn_arrow_02.png) no-repeat left top;
	top:110px;
	right:0px;
}
.theme-default a.nivo-prevNav {
	background:url(../../images/btn_arrow_01.png) no-repeat left top;
	top:110px;
	left:0px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#ffffff;
    border-bottom:1px dotted #ffffff;
}
.theme-default .nivo-caption a:hover {
    color:#ffffff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}