/* Quickie Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
}

body {
	-webkit-user-select:none;
	-webkit-text-size-adjust: none;
	-webkit-box-sizing: border-box;
}

html, body {
	margin:0;
}

img {
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align:bottom;
	max-width: 100%;
	height:auto;
}

#wrapper{
	width:100%;
	margin:0 auto;
}

header{}
h1{ margin:0 auto; width:100%;}

.btn_1 {
	width:62%;
	margin:0 auto;
}

.btn_2 {
	width:90%;
	margin:0 auto 5%;
}

#foot_01{ background:url(../images/fbg_01.gif) no-repeat; -moz-background-size:cover; background-size:cover; margin:10% 0 0;}
.f_top{ width:40%; margin:0 0 0 55%; padding:5% 0 2%;}

#foot_02{ background:url(../images/fbg_02.gif) no-repeat; background-position:center top; -moz-background-size:cover; background-size:cover; width:100%;}
#foot_02 ul{ width:63%; margin:0 auto; padding:5% 0 5%; overflow:hidden;}
#foot_02 li{ list-style:none; float:left;}
#foot_02 .sp { width:68%;}
#foot_02 .pc{ width:32%;}
#foot_02 p{ width:87%; margin:0 auto; padding:0 0 10% 0;}


#upsell {
	width:100%;
	position:relative;
}

#upsell p {
	width:50%;
	padding:0 25%;
	bottom:10%;
	left:0;
	position:absolute;
	text-align:center;
} 



@media screen and (min-width: 320px) and (max-width: 480px){
#unei_comp {
	font-size:9px;
	line-height:1.3em;
	margin:0 0 30px 0;
	display:block;
	text-align:center;
}
}

@media screen and (min-width: 480px) and (max-width: 720px){
#unei_comp {
	font-size:11px;
	line-height:1.3em;
	margin:0 0 30px 0;
	display:block;
	text-align:center;
}
}

@media screen and (min-width: 480px) and (max-width: 720px){
#copy{ font-size:10px; line-height:1.3em; text-align:center; margin:0 0 30px 0; display:block;}

}


