@charset "UTF-8";

/*各ページのcss*/

/* index.html
---------------------------------------------------------- */ 

/* .section_news */ 
.section_news {
	width:660px;
	clear:both;
	background:url(../../images/bg_news_01.gif) repeat left top;
	padding:10px 0 5px 0;
	overflow:hidden;
	margin:0 0 25px 0;
}
.section_news .tabnav  {
	width:120px;
	float:right;
	padding:0 10px 0 0;
}
.section_news .tabnav li {
	width:120px;
	height:40px;
	padding:0 0 5px 0;
}
.section_news .tabnav li a, .section_news .tabnav li a:active {
	display:block;
	width:120px;
	height:40px;
	text-decoration:none;
}
.section_news .tabnav li a.li01, .section_news .tabnav li a.li01:active {
	background:url(../../images/btn_news_01_off.gif) no-repeat left top;
}
.section_news .tabnav li a.li02, .section_news .tabnav li a.li02:active {
	background:url(../../images/btn_news_02_off.gif) no-repeat left top;
}
.section_news .tabnav li a.li03, .section_news .tabnav li a.li03:active {
	background:url(../../images/btn_news_03_off.gif) no-repeat left top;
}
.section_news .tabnav li a.li04, .section_news .tabnav li a.li04:active {
	background:url(../../images/btn_news_04_off.gif) no-repeat left top;
}
.section_news .tabnav li a.li05, .section_news .tabnav li a.li05:active {
	background:url(../../images/btn_news_05_off.gif) no-repeat left top;
}
.section_news .tabnav li a.li06, .section_news .tabnav li a.li06:active {
	background:url(../../images/btn_news_06_off.gif) no-repeat left top;
}
.section_news .tabnav li a span {
	display:none;
	overflow:hidden;
	visibility:hidden;
}
.section_news .tabnav li a:visited {
	text-decoration:none;
}
.section_news .tabnav li a.li01:hover, .section_news .tabnav li.ui-tabs-selected a.li01 {
	background:url(../../images/btn_news_01_on.gif) no-repeat left top;
}
.section_news .tabnav li a.li02:hover, .section_news .tabnav li.ui-tabs-selected a.li02{
	background:url(../../images/btn_news_02_on.gif) no-repeat left top;
}
.section_news .tabnav li a.li03:hover, .section_news .tabnav li.ui-tabs-selected a.li03 {
	background:url(../../images/btn_news_03_on.gif) no-repeat left top;
}
.section_news .tabnav li a.li04:hover, .section_news .tabnav li.ui-tabs-selected a.li04{
	background:url(../../images/btn_news_04_on.gif) no-repeat left top;
}
.section_news .tabnav li a.li05:hover, .section_news .tabnav li.ui-tabs-selected a.li05 {
	background:url(../../images/btn_news_05_on.gif) no-repeat left top;
}
.section_news .tabnav li a.li06:hover, .section_news .tabnav li.ui-tabs-selected a.li06{
	background:url(../../images/btn_news_06_on.gif) no-repeat left top;
}
.section_news .tabdiv {
	width:516px;
	height:auto!important;
	height:280px;
	min-height:265px;
	background-color:#FFF;
	margin:0 0 0 10px;
	overflow:hidden;
}
.section_news .tabdiv .news_tit {
	padding:14px 0 11px 15px;
}
.section_news .tabdiv dl {
	width:490px;
	overflow:hidden;
	clear:both;
	margin:0 0 11px 13px;
	border-bottom:1px dotted #666;
	padding:0 0 5px 0;
}
.section_news .tabdiv dl dt {
	width:85px;
	float:left;
	line-height:1.5;
}
.section_news .tabdiv dl dd.news_img {
	width:72px;
	float:left;
}
.section_news .tabdiv dl dd.news_txt {
	width:333px;
	float:right;
	line-height:1.5;
}
.section_news .ui-tabs-hide {
	display: none;
}
.section_news #featuredvid {
	text-align: center;
}
.section_news .fvid {
	margin-bottom: 5px;
}
.section_news .vidselector li a.li01 {
	background:url(../../images/btn_news_01_on.gif) no-repeat left top;
}
.main_btn {
	margin:0 0 25px 0;
}
/* .section_recommend */ 
.section_recommend {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:0 0 10px 0;
}
.section_recommend .recommend_tit {
	padding-bottom:15px;
}

.section_recommend ul {
	width:660px;
	overflow:hidden;
	clear:both;
	margin:0 0 15px 0;
}

.section_recommend ul li {
	float:left;
	width:151px;
	border:1px dotted #666;
	/*border:1px dotted #F00;*/
	margin:0 16px 0 0;
}

.section_recommend ul li .recommend_pic {
	text-align:center;
	padding:3px 0 0 0;
}
.section_recommend ul li .recommend_date {
	padding:10px 8px 8px 8px;
}
.section_recommend ul li .recommend_date span {
	padding:0 0 0 6px;
}
.section_recommend ul li .recommend_date span img {
	vertical-align:baseline;
}
.section_recommend ul li .recommend_txt {
	padding:0 8px 18px 8px;
	clear:both;
}
.section_recommend ul li .recommend_txt a {
	line-height:1.3;
}
.section_recommend ul li .recommend_category {
	padding:8px 0 0 8px;
}

.section_recommend .bottom_links {
	float:right;
	padding:2px 0 0 0;
}
.section_recommend .bottom_links a {
	color:#333;
}
/* .section_link */ 
.section_link {
	width:660px;
	overflow:hidden;
	clear:both;
}
.section_link .link_tit {
	padding-bottom:3px;
}
.section_link ul li {
	float:left;
	padding:12px 12px 0 0;
}



/* outing/index.html
---------------------------------------------------------- */ 
#searchInfo {
    margin: 20px 0;
}
#searchInfo h3 {
    margin-bottom: 10px;
}
#searchInfo strong {
    font-weight: bold;
}


/* .section_catalog */
.section_catalog {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_catalog h2.tit01 {
	padding:22px 0 16px 0;
}
.section_catalog .catalog_cont {
	width:660px;
	overflow:hidden;
	clear:both;
	border-bottom:#666 1px dotted;
	padding:12px 0 11px 0;
}
.section_catalog .catalog_cont .catalog_pic {
	float:left;
	padding:3px 0 0 0;
}
.section_catalog .catalog_cont .catalog_inner {
	width:440px;
	float:right;
}
.section_catalog .catalog_cont .catalog_inner .catalog_dates {
	color:#666;
	line-height:1.2;
	padding:0 0 5px 0;
}
.section_catalog .catalog_cont .catalog_inner .catalog_tit {
	padding:0 0 10px 0;
}
.section_catalog .catalog_cont .catalog_inner .catalog_tit a {
	color:#f90;
	font-weight:bold;
	line-height:1.4;
}
.section_catalog .catalog_cont .catalog_inner .catalog_txt {
	line-height:1.4;
	padding:0 0 6px 0;
}
.section_catalog .catalog_cont .catalog_inner .catalog_links {
	text-align:right;
}
.section_catalog .catalog_cont .catalog_inner .catalog_links a {
	color:#666;
	line-height:1.5;
}
.section_catalog .catalog_cont .catalog_inner_large {
    width: 660px;
    float: none;
}

/* outing_detail_index
---------------------------------------------------------- */ 

/* section_catalogdetail */ 
.section_catalogdetail {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:19px 0 0 0;
}

.section_catalogdetail h3 {
	font-weight:bold;
	line-height:1.5;
	width:660px;
	overflow:hidden;
	clear:both;
	padding:10px 0 3px 0;
}
.section_catalogdetail h4 {
	border-bottom:1px solid #999;
	padding:0 0 9px 0;
	margin-bottom:15px;	
}
.section_catalogdetail .catalogdetail_cont {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:0 0 15px 0;
}
/*.section_catalogdetail .catalogdetail_cont .catalogdetail_txt {*/
.section_catalogdetail .catalogdetail_cont p {
	width:660px;
	line-height:1.55;
	clear:both;
	padding:18px 0 15px 0;
}
.section_catalogdetail .catalogdetail_cont dl {
	width:288px;
	overflow:hidden;
	margin:0 auto;
}
.section_catalogdetail .catalogdetail_cont dl dd {
	color:#999;
	padding:3px 0 0 0;
	line-height:1.5;
}
.section_catalogdetail .catalogdetail_cont .catalogdetail_txt2 {
	padding:10px 0 10px 0;
	line-height:1.5;
}
.section_catalogdetail .catalogdetail_cont ul {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:0 0 30px 0;
}
.section_catalogdetail .catalogdetail_cont ul li {
	float:right;
	padding:0 4px 0 7px;
}
.section_catalogdetail .catalogdetail_cont .catalogdetail_links {
	text-align:center;
}
.section_catalogdetail .catalogdetail_cont .catalogdetail_links a {
	line-height:1.6;
}
	
	

/* company/index.html
---------------------------------------------------------- */ 

/* .section_company */
.section_company {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
h2.tit01.company {
	border-top:#39BDE8 5px solid;
}
h3.company {
	padding:0 0 4px 0;
	border-bottom:1px solid #39BDE8;
	margin-bottom:20px;
}
.section_company .company_cont {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:16px 0 22px 0;
}
.section_company .company_cont .company_pic {
	float:right;
	padding:0 0 0 15px;
}
.section_company .company_cont .company_tit {
	padding:0 0 0 0;
}
.section_company .company_cont .company_txt {
	color:#666;
	line-height:1.3;
	padding:15px 0 2px 0;
}
.section_company .company_cont2 {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:0 0 25px 0;
}
.section_company .company_cont2 table {
	width:100%;
	margin-bottom:20px;
}
.section_company .company_cont2 table th {
	width:75px;
	padding:0 0 12px 10px;
	border-right:1px solid #999;
	text-align:left;
	vertical-align:top;
	color:#666;
	line-height:1.2;
}
.section_company .company_cont2 table td {
	padding:0 0 12px 25px;
	color:#666;
	line-height:1.2;
}
.section_company .company_cont2 table td.company_lineheight {
	line-height:1.66;
	padding:0 0 5px 25px;
}
.section_company .company_cont2 table td span {
	padding:0 0 0 5px;
}
.section_company .company_cont2 table td a {
	color:#39BDE8;
}
.section_company .company_cont3 {
	width:660px;
	overflow:hidden;
	clear:both;
}
.section_company .company_cont3 .company_pic {
	float:right;
	padding:0 0 0 20px;
}
.section_company .company_cont3 .company_txt {
	color:#666;
	line-height:1.45;
	padding:0 0 25px 0;
}

/* company/service/index.html
---------------------------------------------------------- */ 

/* .section_service */
.section_service {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_service .service_cont {
	width:660px;
	overflow:hidden;
	clear:both;
}
.section_service .service_cont .service_txt {
	padding:12px 0 26px 0;
	text-align:center;
}
.section_service .service_cont .service_img {
	text-align:center;
	padding:0 0 43px 0;
}
.section_service .service_cont .service_inner {
	width:660px;
	overflow:hidden;
	clear:both;
	border-bottom:1px dotted #666;
	padding:0 0 20px 0;
	margin:0 0 20px 0;
}
.section_service .service_cont .service_inner .service_pic {
	float:right;
}
.section_service .service_cont .service_inner .service_txt2 {
	width:445px;
	color:#666;
	line-height:1.3;
	padding:10px 0 0 0;
}
.section_service .service_cont .service_inner .service_txt2 a {
	color:#39BDE8;
}

/* company/service/service1.html
---------------------------------------------------------- */ 

/* .section_service1 */
.section_service1 {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_service1 .service1_cont {
	width:660px;
	clear:both;
	padding:16px 0 0 0;
}
.section_service1 .service1_cont .service1_inner {
	width:660px;
	overflow:hidden;
	clear:both;
	padding:0 0 20px 0;
	margin:0 0 16px 0;
	border-bottom:2px dotted #39BDE8;
}
.section_service1 .service1_cont .service1_inner h4 {
	padding:0 0 7px 0;
}
.section_service1 .service1_cont .service1_inner .service1_pic {
	width:240px;
	float:left;
}
.section_service1 .service1_cont .service1_inner .service1_pic p {
	padding:10px 0 0 0;
}
.section_service1 .service1_cont .service1_inner .service1_txt {
	width:406px;
	color:#666;
	line-height:1.35;
	float:right;
	padding:6px 0 0 0;
	word-break:break-all;
}
.section_service1 .service1_cont .service1_inner .service1_tit {
	width:406px;
	color:#666;
	line-height:1.35;
	float:right;
	padding:6px 0 0 0;
	font-weight:bold;
}
.section_service1 .service1_cont .service1_inner .service1_txt2 {
	color:#666;
	line-height:1.35;
	padding:6px 0 0 0;
	word-break:break-all;
}
.section_service1 .service1_cont .service1_inner .service1_txt a,
.section_service1 .service1_cont .service1_inner .service1_txt2 a {
	color:#39BDE8;
}
.section_service1 .service1_cont .service1_inner dl {
	width:660px;
	clear:both;
	overflow:hidden;
}
.section_service1 .service1_cont .service1_inner dl dt {
	float:left;
	line-height:1.35;
	color:#666;
}
.section_service1 .service1_cont .service1_inner dl dd {
	float:left;
	line-height:1.35;
	color:#666;
}

/* station/index.html
---------------------------------------------------------- */ 

/* .section_station */
.section_station {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_station h3 {
	border-bottom:#6cc 1px solid;
	padding:16px 0 4px 0;
	margin:0 0 6px 0;
}
.section_station ul {
	width:660px;
	clear:both;
	padding:0 0 9px 0;
}
.section_station ul li {
	display:inline;
	padding:0 14px 0 0;
	word-break:keep-all;
}
.section_station ul li a {
	line-height:1.8;
	color:#666;
}


/* station/yamanote/index.html
---------------------------------------------------------- */ 

/* .section_line */
.section_line {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_line ul {
	width:640px;
	padding:4px 20px 0 0;
	clear:both;
}
.section_line ul li {
	display:inline;
	padding:0 17px 0 0;
}
.section_line ul li a {
	line-height:2;
	color:#666;
}


/* station/detail/index.html
---------------------------------------------------------- */ 

/* .section_stationdetail */
.section_stationdetail {
	width:660px;
	clear:both;
	padding:19px 0 0 0;
}
.section_stationdetail h3 {
	font-weight:bold;
	line-height:1.5;
	width:660px;
	overflow:hidden;
	clear:both;
	padding:12px 0 10px 0;
	border-bottom:1px solid #999;
	margin:0 0 26px 0;
}
.section_stationdetail .stationdetail_cont {
	width:320px;
	float:left;
}
.section_stationdetail .stationdetail_cont h4 {
	border-bottom:#6cc 1px solid;
	padding:0 0 4px 0;
}
.section_stationdetail .stationdetail_cont p {
	color:#666;
	line-height:1.8;
	padding:6px 0 12px 0;
}
.section_stationdetail .stationdetail_cont2 {
	width:276px;
	border:#999 1px dotted;
	float:right;
	padding:11px;
}
.section_stationdetail .stationdetail_cont2 .stationdetail_tit {
	padding:16px 0 11px 10px;
	color:#9c0;
}
.section_stationdetail .stationdetail_cont2 .stationdetail_txt {
	line-height:1.4;
	color:#666;
	padding:0 5px 3px 10px;
}
.section_stationdetail .stationdetail_btn {
	width:656px;
	overflow:hidden;
	clear:both;
	text-align:right;
	padding:17px 4px 65px 0;
}
.section_stationdetail .stationdetail_btn li {
	float:right;
	padding:0 0 0 10px;
}


/* sitemap/index.html
---------------------------------------------------------- */ 

/* .section_sitemap */
.section_sitemap {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_sitemap ul {
	width:660px;
	clear:both;
	padding:15px 0 13px 0;
}
.section_sitemap ul li {
	display:inline;
	padding:0 22px 0 0;
}
.section_sitemap ul li a {
	line-height:1.4;
	color:#333;
}
.section_sitemap ul li p {
	display:inline;
}
.section_sitemap ul li.a01 a {
	padding:0 13px 0 8px;
}

/* kiyaku.html
---------------------------------------------------------- */ 

/* .section_kiyaku */ 
.section_kiyaku {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_kiyaku .kiyaku_txt {
	padding:10px 0 5px 0;
	line-height:1.4;
}
.section_kiyaku .kiyaku_txt a {
	line-height:1.4;
}
.section_kiyaku .kiyaku_txt a:hover {
	line-height:1.4;
}
.section_kiyaku .kiyaku_txt2 {
	line-height:1.3;
	text-indent:-34px;
	padding-left:42px;
}
.section_kiyaku .kiyaku_txt2.pt10 {
	padding-top:10px;
}
.section_kiyaku .kiyaku_txt3 {
	line-height:1.3;
}
.section_kiyaku .kiyaku_txt3.pt10 {
	padding-top:10px;
}
/* privacy.html
---------------------------------------------------------- */ 

/* .section_privacy */ 
.section_privacy {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_privacy .privacy_txt {
	padding:12px 0 5px 0;
	line-height:1.3;
}
.section_privacy .privacy_txt a {
	line-height:1.3;
}

/* member/index.html
---------------------------------------------------------- */ 

/* .section_privacy */ 
.section_member {
	width:660px;
	clear:both;
	padding:10px 0 0 0;
}
.section_member .fv {
position:relative;

}
.section_member .fv .fv_btn {
		position:absolute;
	top:140px;
	left:196px;
}
.section_member .fv .fv_sample {
		position:absolute;
	top:417px;
	left:184px;
}
.catch{ text-align:center; margin:30px 0;}
.section_member .btns {
	width:480px;
	margin:0 auto;
}
.section_member .btns{
    zoom: 100%;
}
.section_member .btns:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}


.section_member .btns .btn_entry{
	float:left;
}
.section_member .btns .btn_present{
	float:right;
}
.section_member .btn_present_detail{
	margin-top:20px;
	text-align:center;
}