@charset "UTF-8";

/* 

fonts.css

*/

body {
	font-size: 13px;
	*font-size: small; 
	*font: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Verdana, Arial, Helvetica, sans-serif;
	line-height: 150%;
	color:#333;
}

table {
	font-size: inherit;
	font: 100%;
}

select, input, textarea {
	font: 99% arial,helvetica,clean,sans-serif;
}

pre, code {
	font: 115% monospace;
	*font-size: 100%;
}

/* ---------- ピクセル指定 -------------------------------------------------- */

.px8  {	font-size: 8px; }
.px9  {	font-size: 9px; }
.px10 {	font-size:10px; }
.px11 {	font-size:11px; }
.px12 {	font-size:12px; }
.px13 {	font-size:13px; }
.px14 {	font-size:14px; }
.px15 {	font-size:15px; }
.px16 {	font-size:16px; }
.px18 {	font-size:18px; }
.px20 {	font-size:20px; }
.px23 {	font-size:23px; }
.px24 {	font-size:24px; }
.px28 {	font-size:28px; }
.px32 {	font-size:32px; }
.px36 {	font-size:36px; }
.px48 {	font-size:48px; }
.px64 {	font-size:64px; }

/* ---------- ％指定 -------------------------------------------------- */

.to10 {	font-size: 77%; }
.to11 {	font-size: 85%; }
.to12 {	font-size: 92%; }
.to13 {	font-size:100%; }
.to14 {	font-size:107%; }
.to15 {	font-size:114%; }
.to16 {	font-size:122%; }
.to17 {	font-size:129%; }
.to18 {	font-size:136%; }
.to19 {	font-size:144%; }
.to20 {	font-size:152%; }
.to21 {	font-size:159%; }
.to22 {	font-size:167%; }
.to23 {	font-size:174%; }
.to24 {	font-size:182%; }
.to25 {	font-size:189%; }
.to26 {	font-size:197%; }

/* ---------- フォント指定 -------------------------------------------------- */

/*.ffamily	{ font-family:Verdana, meiryo, "ヒラギノ角ゴ Pro W3"; }
.ffamily_01 { font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3"; }
.ffamily_02 { font-family:Arial, Helvetica, sans-serif; }*/
