@charset "UTF-8";

/* /////////////////////////////////////////// */
/* reset
/* /////////////////////////////////////////// */

* {
	margin: 0;
	padding: 0;
	color: #333;
	line-height: 1.0;
	font-size:100%;
}
html {
	margin:0px !important;
	padding:0px !important;
	overflow-y:scroll !important;
}
body {
	margin:0;
	padding:0;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
div, ol, ul, dl {
	margin: 0px;
	padding: 0px;
}
p, h1, h2, h3, h4, h5, h6, dt, dd,a,span, form, fieldset, legend, input, textarea {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}
table {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border: none;
}
td, th, caption, thead {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol,ul,li {
	list-style:none;
}
form label {
	cursor:pointer;
}
form button {
	cursor:pointer;
}
img {
	border:0;
	vertical-align:bottom;
}
a {
	text-decoration:underline;
}
a:link {
	outline:0;
}
a:hover {
	cursor:pointer !important;
	text-decoration:none;
}